/* styles.css */
.bg_custom_lime {
  background-color: #c8ff0b;
}
.font_family_custom {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
}
.separator:before {
  content: "\2301"; /* Unicode for ⌑ */
  color: var(--current-color, #fcf7f7); /* Default color if not defined */
  opacity: 0.5;
}
